process {
  shell = ['/bin/bash', '-l']   // login shell so 'module' is defined
}
params {

    // Reads and references
    blacklist = "$projectDir/refs/mm10-blacklist.v2.bed"

    genome = "$projectDir/refs/GRCm38.primary_assembly.genome.fa"
    gtf = "$projectDir/refs/gencode.vM38.primary_assembly.basic.annotation.gtf"
    
    // corrtype = 'pearson'
    corrtype = 'spearman'

    genome_size = 'mm'

    // thresholds for diffbind
    pval_threshold = 0.01
    fdr_threshold = 0.05

    // tss
    ucsc_genes = "$projectDir/refs/mm10_genes.bed"
    tss_bed = "$projectDir/refs/mm10_tss.bed" // for TSS (1 bp sites) - percentage of reads in TSS
    tss_1kb = "$projectDir/refs/mm10_tss_pm1kb.bed" // for TSS (+- 1 kb around TSS)
    window = 2000

    samplesheet = "$projectDir/samplesheet.csv"


    // Directories
    outdir = "$projectDir/results/"
    refdir = "$projectDir/refs/"
    
}

profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P bf528'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4

                }
                withLabel: process_medium {
                    cpus = 8
                    memory = '32G'
                }
                
                withLabel: process_high {
                    cpus = 16
                    memory = '128 GB'
                    clusterOptions = '-P bf528 -l mem_per_core=8G'
                }
        }
    }

    local {
        process.executor = 'local'
    }
}

executor {
    $sge {
        queueSize = 18
    }
    $local {
        cpus = 1
    }
}

resume = true